/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0067d0;
  --ifm-color-primary-dark: #005dbb;
  --ifm-color-primary-darker: #0058b1;
  --ifm-color-primary-darkest: #004892;
  --ifm-color-primary-light: #0071e5;
  --ifm-color-primary-lighter: #0076ef;
  --ifm-color-primary-lightest: #2a8afc;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0067d0;
  --ifm-color-primary-dark: #005dbb;
  --ifm-color-primary-darker: #0058b1;
  --ifm-color-primary-darkest: #004892;
  --ifm-color-primary-light: #0071e5;
  --ifm-color-primary-lighter: #0076ef;
  --ifm-color-primary-lightest: #2a8afc;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}